body {
  margin: 0 auto;
  padding: 20px;
  font-family: "Courier New", Courier, monospace;
  background-color: #1d0c59;
  color: #f2f2f2;
}

table {
    border-collapse: collapse;
    counter-reset: step;
    
}

.container {
  margin: auto auto;
  width: 65%;
  /* border-collapse: collapse; */
  background-color: #a23a37;
  border-radius: 8px;
  padding: 2%;
  padding-left: 4%;
  
}

.container th,
.container td {
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f5cfc4;
  color: rgb(50, 49, 49);
  border-spacing: 0;  
}

.container td {
  border-style: none;
  margin: 0;
  text-align: center;
}

.container td:nth-child(2),
.container td:nth-child(1) {
    text-align: left;
} 


